footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #f3f3f3;
    padding: 20px 0;
    a{
        display: flex;
        align-items: center;
    }
}

.pHome{
    min-height: 80vh;
    .slick-dots{
        position: absolute;
        bottom: 30px;
    }
    .slick-dots li button:before {
        color: #fff;
    }
    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #fff;
    }
}